:root {
  --black:#000;

  --dark-grey:#393f43;
  --grey:#6e7b82;
  --light-grey: #929ca2;

  --green: #059486;
  --light-green: #08c5b2;

  --section-science: #f39200;
  --section-politics: #08c5b2;
  --section-business: #e3120b;
  --section-history: #4e64b5;

}
